<div class="quizzConteudo">
  <div class="quizzLogo">
    <img src="assets/imgs/logo.png" alt="" srcset="">
    <h3>{{title}}</h3>
  </div>
  <div *ngIf =!finished class="quizzQuestion">
    <h3>{{questionSelected.question}}</h3>
  </div>
  <div *ngIf =!finished class="quizzOptions">
    <button *ngFor="let option of questionSelected.options; let i = index"
    (click)="playerChoose(option.alias)"
    class="quizzOptionsBotao">
      {{option.name}}
    </button>
  </div>
  <div *ngIf="finished" class="quizzResultado">
    <h3>O seu resultado é:</h3>
    <p>{{answerSelected}}</p>
  </div>
</div>
